#### TF-ID Question/Answer assistant

##### 1. Imports

In [74]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
import operator

#####  2. The data, questions and answers

In [12]:
sample_data = pd.read_csv('sample_questions.csv', header=None,skiprows=0)

In [42]:
sample_data.head()

,0,1
0,I am looking for companies hiring in Prague!,Companies hiring in Prague we Have Devoteam
1,Looking for something in IT,Devoteam is hiring consultants for Diverse IT ...
2,I need Help with my application,"Yes, How can we help?"
3,What are the most typical benefits offered by ...,"5 Weeks of vacation, multisports card and sodexho"
4,What roles do you have available?,"Consultants, Project Managers and DevOps engin..."

In [43]:
sample_data.tail()

,0,1
3,What are the most typical benefits offered by ...,"5 Weeks of vacation, multisports card and sodexho"
4,What roles do you have available?,"Consultants, Project Managers and DevOps engin..."
5,Largest company you know,Skoda
6,Tell me the most in-demand skills,Our job skills required report that the most d...
7,Give me job description for the most recent jo...,Here is the link so you can read the whole job...

#####  3. Columns from the dataframe as list, using dataframes methods

In [37]:
question_list = sample_data[0].values.tolist()
answers_list = sample_data[1].values.tolist()

#####  4. Test sample data: User Query

In [117]:
query = 'what roles are vacant'

#####  5. TF-ID Vector object instance

In [118]:
vectorizer = TfidfVectorizer(min_df=0, ngram_range=(2,4), strip_accents='unicode', norm='l2', encoding='ISO-8858-1')

#####  6. Data converted to document term- matrix

In [119]:
# create an array for our train data set 
# Learn vocabulary and idf, return term-document matrix.
X_train = vectorizer.fit_transform(np.array([''.join(question) for question in question_list]))

#Transform documents to document-term matrix.
#Uses the vocabulary and document frequencies (df) learned by fit (or fit_transform)
X_query = vectorizer.transform([query])

In [120]:
print(X_query.shape)
print(X_train.shape)

(1, 113)
(8, 113)

##### 7. Process Query

In [121]:
X_query.transpose().shape

(113, 1)

In [122]:
X_similarity = np.dot(X_train.todense(), X_query.transpose().todense())

In [123]:
X_similarity.shape
# we got 8 rows 1 column. Each having the scalar obtained from the inner product
print(type(X_similarity))

<class 'numpy.matrixlib.defmatrix.matrix'>

In [124]:
x_similarity_score = np.array(X_similarity).flatten().tolist()

In [125]:
x_similarity_score

[0.0, 0.0, 0.0, 0.0, 0.2886751345948129, 0.0, 0.0, 0.0]

#####  8. Rank Results

In [126]:
dict_similarities = dict(enumerate(x_similarity_score))
sorted_dict_sim = sorted(dict_similarities.items(), key=operator.itemgetter(1), reverse = True) #list

In [127]:
operator.itemgetter(1)('list')

'i'

In [128]:
dict_similarities.items()

dict_items([(0, 0.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.2886751345948129), (5, 0.0), (6, 0.0), (7, 0.0)])

In [129]:
sorted_only = sorted(dict_similarities.items(), reverse=True)
print(sorted_only)

[(7, 0.0), (6, 0.0), (5, 0.0), (4, 0.2886751345948129), (3, 0.0), (2, 0.0), (1, 0.0), (0, 0.0)]

In [130]:
sorted_only_key = sorted(dict_similarities.items(), key=operator.itemgetter(1), reverse=True)
print(sorted_only_key)

[(4, 0.2886751345948129), (0, 0.0), (1, 0.0), (2, 0.0), (3, 0.0), (5, 0.0), (6, 0.0), (7, 0.0)]

In [132]:
print(type(sorted_dict_sim))

<class 'list'>

In [133]:
if sorted_dict_sim[0][1]==0:
    print('I have no answer at the moment')
    
elif sorted_dict_sim[0][1]>0:
    print(answers_list[sorted_dict_sim[0][0]]) # accesing the dataframe with the higher TF-IDF

Consultants, Project Managers and DevOps engineers